In [3]:
# Date:5/5/21
# Rules to declare the variables
# 1. space betn the multiple word of variable name is not allowed
# 2. Variable name should not start with numeric
# 3. Special characters such as @,#,%.$ etc not allowed only '_' is acceptable
# 4. variable name can start with '_', specially used in std lib files

In [4]:
# Example for Rule 1
my name = "geeta"
print(my name)

SyntaxError: invalid syntax (<ipython-input-4-1e0a5655172f>, line 2)

In [5]:
#correction in above ex
myName="geeta"
print(myName)

geeta

In [6]:
#alternate method
my_name = "geeta"
print(my_name)

geeta

In [7]:
# Example for Rule 2
1name ='geeta'
print(1name)

SyntaxError: invalid syntax (<ipython-input-7-7dbbe10acae3>, line 2)

In [8]:
#correction
name1 ='geeta'
print(name1)

geeta

In [9]:
#alternate method
name_1 = "geeta"
print(name_1)

geeta

In [10]:
# Example for Rule 3
myname$ ='geeta'
print(myname$)

SyntaxError: invalid syntax (<ipython-input-10-b9309565f0e7>, line 2)

In [11]:
#continued..
my@name ="geeta"
print(my@name)

SyntaxError: cannot assign to operator (<ipython-input-11-c295ebeb1883>, line 2)

In [12]:
# Example for Rule 4
_name = 'geeta'
print(_name)

geeta

In [13]:
# INTRODUCTION TO DATA TYPES
1. string-->str
2. list-->list
3. tuple -->tuple
4. dictionary -->dict
5. numbers i. integer(int) ii. float(float)

SyntaxError: invalid syntax (<ipython-input-13-f2053ca57ce9>, line 2)

In [14]:
# CLASSIFICATION OF DATA TYPES
#1. mutable --->can be edited/ modified/altered
#2. immutable --> can not be modified/ edited

In [16]:
/#  1.  String Data type
Def: Group of characters enclosed within a pair of quotes
 * it is a immutable data type
Declation: i. single quotes ex:'xyz'
          ii. double quotes ex: "xyz"
         iii. triple quotes ex: """xyz"""#/

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 6)

In [17]:
#Examples for string ata types
name1 ='geet'
name2 ="geeta"
name3 ="""geeta godi"""
print(name1)
print(name2)
print(name3)

geet
geeta
geeta godi

In [18]:
# It is up to the user, can choose or follow any method to declare strings... usually we follow single or double quotes

In [19]:
# Methods in python
#def:Methods are buitin fuctions/ programs used in python
# Example
type(name1)
type(12)
type(10.5)

float

In [20]:
type(12)

int

In [21]:
type(name1)

str